:root{
	--favicon: https://ayudatpymes.com/images/default/isotipo.png;
	--ayudaTColor: #F3F3F5;
}

#aonConfigThemesCard{
	display: none;
}

.aonHeader {
	overflow: hidden;
	background-color: var(--ayudaTColor);
}

.aonHeader #aonHeaderCompanyName,
.aonHeader .material-icons {
	color: var(--gray-50);
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover, 
#aonHeaderConfig:hover, 
#aonHeaderNotification:hover, 
#aonHeaderUser:hover{
	background-color: rgba(255,255,255,0.3);
  	border-radius: 100px;
}

#applications {
	background-color: var(--ayudaTColor);
	color: var(--gray-50);
}

.aonNewLogo {
    width: 100px;
    height: 48px;
    cursor: pointer;
    padding: 0 0 0 68px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../image/ayudaTpymes.svg");
}
