@import url(aon.css);

:root {
  --aonMessenger: rgb(134, 211, 100);
}

.aonConfigTopNav {
  display: flex;
}

#applications {
  background-size: cover ;
  background-image: url("https://www.aonsolutions.es/images/escritorio/slider/slider-fondo.webp");
}

#aonMenuListAppImgTop-applications {
  color: white;
}

