@import url(aon.css);

:root {
	--aonMenuTopnav: true;
}
	
.aonConfigTopNav {
  display: flex;
}

#aonMenuBar-treasuryMenu,
#aonMenuBar-comercialMenu,
#aonMenuBar-warehouseMenu,
#aonMenuBar-groupwareMenu,
#aonMenuBar-managementMenu,
#aonMenuBar-marketingMenu {
  display: none;
}
