:root {
	--favicon: ../faviconColors.png;
}

.aonHeaderDocumental, .aonMenuLeftopDocumental,
.aonHeaderInvoice, .aonMenuLeftopInvoice,
.aonHeaderAccounting, .aonMenuLeftopAccounting,
.aonHeaderFiscal, .aonMenuLeftopFiscal,
.aonHeaderPayroll, .aonMenuLeftopPayroll,
.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol,
.aonHeaderNote, .aonMenuLeftopNote,
.aonHeaderMessenger, .aonMenuLeftopMessenger{
  background-color: var(--aonBlue);
}

#aon-notesSidenav .material-icons,
#aon-notesSidenav aon-icon {
	--aonNote: rgb(95, 99, 104);
}

#aonInvoiceSidenav .material-icons,
#aonInvoiceSidenav aon-icon {
	--aonInvoice: rgb(95, 99, 104);
}

#aonComunicaSidenav .material-icons,
#aonComunicaSidenav aon-icon {
	--aonPayroll: rgb(95, 99, 104);
}

#aonAccountingSidenav .material-icons,
#aonAccountingSidenav aon-icon {
	--aonAccounting: rgb(95, 99, 104);
}

#aonFiscalSidenav img {
	filter: grayscale(100%);
}

#aonFiscalSidenav .material-icons,
#aonFiscalSidenav aon-icon {
	--aonFiscal: rgb(95, 99, 104);
}

#aonLaboralSidenav aon-icon,
#aonLaboralSidenav .material-icons {
	--aonPayroll: rgb(95, 99, 104);
}

#aonMessengerSidenav .material-icons,
#aonMessengerSidenav aon-icon {
	--aonMessenger: rgb(95, 99, 104);
}

#aonDocumentalSidenav .material-icons,
#aonDocumentalSidenav aon-icon {
	--aonDocumental: rgb(95, 99, 104);
}

#aonSigninSidenav .material-icons,
#aonSigninSidenav aon-icon {
	--aonTimecontrol: rgb(95, 99, 104);
}

#applications:hover {
  background-size: cover ;
  background-image: url("../image/aon-background.webp");
  #aonMenuListAppImgTop-applications {
	  color: white;
  }
}

.aonSideNavFiscalCircle{
  border: 1px solid rgb(95, 99, 104);
  color: rgb(95, 99, 104);
}

.aonAppMenuSidenavListSelected div {
  	background-color: rgb(95, 99, 104);
  	border: 1px solid rgb(95, 99, 104);
  	color: white;
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'MODERN';
}
