:root {

  	--aonHeaderButtonColor: var(--aonWhite);
	
	--aonHeaderBackgroundColor: black;

	--aonHeaderBackgroundAvailable: black;

  	--aonRightPanelColor: #212121;

	--aonGrayHeaderButtonsColor:var(--aonWhite);

	--aonHeaderButtonsColor: var(--aonWhite);
  
	--aonCardColor: #3b3a39;

	--aonCardTitle: var(--aonWhite);

	--aonCardText: var(--aonWhite);

	--aonNewUploadLabel: var(--aonWhite);

	--aonContentBeta:  #212121;

	--aonDashboardButtonText: white;

	--aonDashboardButton: #3b3a39;

	--aonSuiteMenuSideMenu: #212121;

	--aonSuiteMenuSideMenuBorder:rgba(255,255,255,0.1);

	--aonSuiteMenuNewButtonBorder: white;

	--aonSuiteMenuNewButtonText: white;

	--aonSuiteMenuNewButtonIcon: var(--aonSuiteMenuNewButtonText);

	--aonSuiteMenuUploadButtonBorder: rgba(255,255,255,0.1);

	--aonSuiteMenuTitle: white;

	--aonSuiteMenuCardText: white;

	--aonSuiteMenuCardText2: var(--aonCardText);

	--aonSideNavRowHoverColor: #3b3a39;

	--aonTopAppTextColor: var(--aonWhite);

  	--aonTopMenuAvailableMouseOverImg : black;

	--aonTopMenuAvilableMouseOutText: white;

	--aonAccountingMouseOver: var(--aonBlue);

	--aonAccountingMouseOut: white;

	--aonSwitchButtonBarOn: gray;

	--aonSwitchButtonBarOff: gray;

	--aonSwitchButtonCircleOff: var(--aonDarkGray);
  
	--aonSwitchButtonCircleOn: white;

	--aonHomeMouseOverImg: black; 

	--aonHomeImg: white;
  
 	 --aonSearchBar: var(--aonCardColor);
  
 	 --aonSearchButton: white;
}

.aonBody{
	background-color: var(--aonContentBeta);
}

.aonDashboardButton i {
	background-color: transparent;
}

.aonDashboardButton:hover{
	background-color: black;
}
  
.aonDashboardButton:hover i{
	background-color: black;
}

.rootPanel {
	background-color: var(--aonContentBeta); 
}

h1 {
	color: white;
}

.aonLogo {
	background-image: url("../assets/aon-white-logo.svg");
}

.sidenavHover:hover{
	background-color: var(--aonLightBlue);
}

.aonHeader {
	color: var(--aonHeaderButtonsColor);
	
}

.aonAvatar {
	color: white;
}

.aonLiBeta:hover {
   	background-color: rgba(0,0,0,.70);
}

.aonLiSpan {
	color: white;
}

.aonLiSpanSubtitle {
	color: white;
}

.aonToolbar {
	background-color: var(--aonContentBeta);
}

.aonToolbarTitle {
	color: white;
}

.aonToolbarSection {
	background-color: var(--aonContentBeta);
}
  
.aonToolbarSectionEnd {
	color: white;
}

.aonSecondaryToolbarTitle {
	color: white;
}

.aonTable th {
	color: white;
}

.aonTable tbody tr {
	color: white;
	background-color: var(--aonContentBeta);
}

.aonTableTrChecked {
	background-color: black;
}
  
.aonTable tbody tr:hover {
	background-color: black;
}
  
.aonTable tbody tr:active {
	background-color: black;
}

.aonMenuSidenav {
	color: #FFF;
	background-color: var(--aonHeaderBackgroundColor);
}

.aonSidenavTitle {
	color: white;
}

.aonSidenav {
	background-color: var(--aonContentBeta);
}

 #aonAccountingSidenavPyG {
	background-color: var(--aonAccountingColor);
}

.aonSearchBoxBeta {
	color: var(--aonSearchButton);
}

.aonDashboardCard{
	color: white;
}

/* Checked, Indeterminate */
.aonCheckbox > input:checked,
.aonCheckbox > input:indeterminate {
	background-color: white;
}

.aonCheckbox > input:checked + span::before,
.aonCheckbox > input:indeterminate + span::before {
	border-color: white;
	background-color: white;
}
  
.aonCheckbox > input:checked + span::after,
.aonCheckbox > input:indeterminate + span::after {
	border-color: black;
}

.aonCheckbox > input:active + span::before {
	border-color: white;
}
  
.aonCheckbox > input:checked:active + span::before {
	border-color: white;
}
