:root {

  	--aonHeaderButtonColor: var(--aonWhite);
	
	--aonHeaderBackgroundColor: black;

	--aonHeaderBackgroundAvailable: black;

  	--aonRightPanelColor: #212121;

	--aonGrayHeaderButtonsColor:var(--aonWhite);

	--aonHeaderButtonsColor: var(--aonWhite);
  
	--aonCardColor: #3b3a39;

	--aonCardTitle: var(--aonWhite);

	--aonCardText: var(--aonWhite);

	--aonNewUploadLabel: var(--aonWhite);

	--aonContentBeta:  #212121;

	--aonDashboardButtonText: white;

	--aonDashboardButton: #3b3a39;

	--aonSuiteMenuSideMenu: #212121;

	--aonSuiteMenuSideMenuBorder:rgba(255,255,255,0.1);

	--aonSuiteMenuNewButtonBorder: white;

	--aonSuiteMenuNewButtonText: white;

	--aonSuiteMenuNewButtonIcon: var(--aonSuiteMenuNewButtonText);

	--aonSuiteMenuUploadButtonBorder: rgba(255,255,255,0.1);

	--aonSuiteMenuTitle: white;

	--aonSuiteMenuCardText: white;

	--aonSuiteMenuCardText2: var(--aonCardText);

	--aonSideNavRowHoverColor: #3b3a39;

	--aonTopAppTextColor: var(--aonWhite);

  	--aonTopMenuAvailableMouseOverImg : black;

	--aonTopMenuAvilableMouseOutText: white;

	--aonAccountingMouseOver: var(--aonBlue);

	--aonAccountingMouseOut: white;

	--aonSwitchButtonBarOn: gray;

	--aonSwitchButtonBarOff: gray;

	--aonSwitchButtonCircleOff: var(--aonDarkGray);
  
	--aonSwitchButtonCircleOn: white;

	--aonHomeMouseOverImg: black; 

	--aonHomeImg: white;
  
 	 --aonSearchBar: var(--aonCardColor);
  
 	 --aonSearchButton: white;
}

.aonBody{
	background-color: var(--aonContentBeta);
}

.aonDashboardButton i {
	background-color: transparent;
}

.aonDashboardButton:hover{
	background-color: black;
}
  
.aonDashboardButton:hover i{
	background-color: black;
}

.rootPanel {
	background-color: var(--aonContentBeta); 
}

h1 {
	color: white;
}

.aonLogo {
	background-image: url("../assets/aon-white-logo.svg");
}

.sidenavHover:hover{
	background-color: black;
}

.aonHeader {
	color: var(--aonHeaderButtonsColor);
	
}

.aonAvatar {
	color: white;
}

.aonLiBeta:hover {
   	background-color: rgba(0,0,0,.70);
}

.aonLiSpan {
	color: white;
}

.aonLiSpanSubtitle {
	color: white;
}

.aonToolbar {
	background-color: var(--aonContentBeta);
}

.aonToolbarTitle {
	color: white;
}

.aonToolbarSection {
	background-color: var(--aonContentBeta);
}
  
.aonToolbarSectionEnd {
	color: white;
}

.aonSecondaryToolbarTitle {
	color: white;
}

.aonTable th {
	color: white;
}

.aonTable tbody tr {
	color: white;
	background-color: var(--aonContentBeta);
}

.aonTableTrChecked {
	background-color: black;
}
  
.aonTable tbody tr:hover {
	background-color: black;
}
  
.aonTable tbody tr:active {
	background-color: black;
}

.aonMenuSidenav {
	color: #FFF;
	background-color: var(--aonHeaderBackgroundColor);
}

.aonSidenavTitle {
	color: white;
}

.aonSidenav {
	background-color: var(--aonContentBeta);
}

 #aonAccountingSidenavPyG {
	background-color: var(--aonAccountingColor);
}

.aonSearchBoxBeta {
	color: var(--aonSearchButton);
}

.aonDashboardCard{
	color: white;
}

/* Checked, Indeterminate */
.aonCheckbox > input:checked,
.aonCheckbox > input:indeterminate {
	background-color: white;
}

.aonCheckbox > input:checked + span::before,
.aonCheckbox > input:indeterminate + span::before {
	border-color: white;
	background-color: white;
}
  
.aonCheckbox > input:checked + span::after,
.aonCheckbox > input:indeterminate + span::after {
	border-color: black;
}

.aonCheckbox > input:active + span::before {
	border-color: white;
}
  
.aonCheckbox > input:checked:active + span::before {
	border-color: white;
}

.aonNewLogo{
 	background-image: url("../image/aon-white-logo.svg");  
}

.aonRootGradiantHeader {
 	background-color: var(--aonContentBeta);
}

.aonParentDiv  {
	background-color: var(--aonContentBeta);
}

.aonWelcomeDiv  {
	color: white;
}

.aonTabItemText {
	  color: white;
}

.aonTabItemText:hover{
	  background-color: rgba(0, 0, 0, 0.2);
	  border-radius: 5px;
}

.aonTabItemTextSelected {
	  color: white;
}

.aonLoginLogo{
 	  background-image: url("../image/aon-white-logo.svg");
}

.aonHeaderStart, .aonMenuLeftopStart,
.aonHeaderHome, .aonMenuLeftopHome,
.aonHeaderApplications, .aonMenuLeftopApplications,
.aonHeaderNote, .aonMenuLeftopNote,
.aonHeaderFiscal, .aonMenuLeftopFiscal,
.aonHeaderPayroll, .aonMenuLeftopPayroll,
.aonHeaderInvoice, .aonMenuLeftopInvoice,
.aonHeaderDocumental, .aonMenuLeftopDocumental,
.aonHeaderAccounting, .aonMenuLeftopAccounting,
.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol,
.aonHeaderMessenger, .aonMenuLeftopMessenger,
.aonHeaderOffice, .aonMenuLeftopOffice,
.aonHeaderGarage, .aonMenuLeftopGarage,
.aonHeaderAcademy, .aonMenuLeftopAcademy,
.aonHeaderComerce, .aonMenuLeftopComerce,
.aonHeaderComercialMenu, .aonMenuLeftopComercialMenu,
.aonHeaderManagementMenu, .aonMenuLeftopManagementMenu,
.aonHeaderTreasuryMenu, .aonMenuLeftopTreasuryMenu,
.aonHeaderWarehouseMenu, .aonMenuLeftopWarehouseMenu,
.aonHeaderGroupwareMenu, .aonMenuLeftopGroupwareMenu ,
.aonHeaderAccountingMenu, .aonMenuLeftopAccountingMenu,
.aonHeaderFiscalMenu, .aonMenuLeftopFiscalMenu,
.aonHeaderPayrollMenu, .aonMenuLeftopPayrollMenu,
.aonHeaderMarketingMenu, .aonMenuLeftopMarketingMenu {
	background-color: var(--aonHeaderBackgroundColor);
}

.aonHeader #aonHeaderCompanyName,
.aonHeader .material-icons {
	color: white;
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover, 
#aonHeaderConfig:hover, 
#aonHeaderNotification:hover, 
#aonHeaderUser:hover{
	background-color: rgba(255,255,255,0.3);
  	border-radius: 100px;
}

.aonMenuLeftopHome .material-symbols-outlined, 
.aonMenuLeftopStart .material-symbols-outlined, 
.aonMenuLeftopApplications .material-symbols-outlined{
	color: white;
}

.aonHeaderHome  #aonHeaderCompanyName,
.aonHeaderApplications  #aonHeaderCompanyName,
.aonHeaderStart #aonHeaderCompanyName {
	color: var(--aonWhite);
}

#new:hover,
#home:hover,
#invoice:hover,
#documental:hover,
#accounting:hover,
#fiscal:hover,
#payroll:hover,
#timecontrol:hover,
#note:hover,
#messenger:hover,
#office:hover,
#garage:hover,
#academy:hover,
#comerce:hover,
#comercialMenu:hover,
#managementMenu:hover,
#treasuryMenu:hover,
#warehouseMenu:hover,
#groupwareMenu:hover,
#accountingMenu:hover,
#fiscalMenu:hover,
#payrollMenu:hover,
#marketingMenu:hover,
#applications:hover{
  	background-color: rgba(255,255,255,0.1);
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover,
#aonHeaderConfig:hover,
#aonHeaderNotification:hover,
#aonHeaderUser:hover{
  	background-color: rgba(255,255,255,0.1);
  	border-radius: 100px;
}

.graphicsDashBoardSummary{
  	color: white;
}

.aonHelpSpan{
  	color: white;
}

/* .notificationPanelAllDiv{
  	color: white;
} */

.notificationPanelRowPrincipalDiv,
.notificationPanelRowPrincipalDiv .material-icons {
	color: white;
}

.notificationPanelRowPrincipalDiv:hover{
  	background-color: rgba(225, 225, 227, 1);
  	color: black;
  	.material-icons {
		color: black;
  	}
}

.aonNewDesktopAppDiv{
  	color: white;
}

.aonNewMenuAppIcon{
	color: white;
}

.aonConfigAppsTitle,
.aonConfigDarkTitle,
.aonConfigBrandTitle,
.aonConfigTopNavTitle,
.aonConfigSideNavTitle {
	color: white;
}

#aonLoginLanguageSpanToolbar {
	color: white;
}

.aonLoginTitle {
	color: white;
}

.aonLink {
	color: white ! important;
}

.aonLink:hover {
	color: white ! important;
}

.aonLoginButton:hover {
  background-color: black;
  color: var(--white-base);
}

.aonCompanyTitleSpan {
	color: white;
}

.material-icons {
	color: white; 
}

#aonNotificationPanelOpenButtonIcon:hover{
	background-color: rgba(225,225,227,1);
	color: black;
}

.aonMenuItemSpan {
	color: white;
}

.aonAppMenuSidenavListSelected {
	background-color: black;
}



