:root {
	--favicon: ../faviconColors.png;

  	--aonHeaderButtonColor: var(--aonWhite);
	
	--aonHeaderBackgroundColor: #111111;

	--aonHeaderBackgroundAvailable: #111111;

  	--aonRightPanelColor: #212121;

	--aonGrayHeaderButtonsColor:var(--aonWhite);

	--aonHeaderButtonsColor: var(--aonWhite);
  
	--aonCardColor: #3b3a39;

	--aonCardTitle: var(--aonWhite);

	--aonCardText: var(--aonWhite);

	--aonNewUploadLabel: var(--aonWhite);

	--aonContentBeta:  #212121;

	--aonDashboardButtonText: white;

	--aonDashboardButton: #3b3a39;

	--aonSuiteMenuSideMenu: #212121;

	--aonSuiteMenuSideMenuBorder:rgba(255,255,255,0.1);

	--aonSuiteMenuNewButtonBorder: white;

	--aonSuiteMenuNewButtonText: white;

	--aonSuiteMenuNewButtonIcon: var(--aonSuiteMenuNewButtonText);

	--aonSuiteMenuUploadButtonBorder: rgba(255,255,255,0.1);

	--aonSuiteMenuTitle: white;

	--aonSuiteMenuCardText: white;

	--aonSuiteMenuCardText2: var(--aonCardText);

	--aonSideNavRowHoverColor: #3b3a39;

	--aonTopAppTextColor: var(--aonWhite);

  	--aonTopMenuAvailableMouseOverImg : #111111;

	--aonTopMenuAvilableMouseOutText: white;

	--aonTopMenuAvailable: white;

	--aonTopMenuSpecial: white;

	--aonAccountingMouseOver: var(--aonBlue);

	--aonAccountingMouseOut: white;

	--aonSwitchButtonBarOn: gray;

	--aonSwitchButtonBarOff: gray;

	--aonSwitchButtonCircleOff: var(--aonDarkGray);
  
	--aonSwitchButtonCircleOn: white;

	--aonHomeMouseOverImg: #111111; 

	--aonHomeImg: white;
  
 	--aonSearchBar: var(--aonCardColor);
  
 	--aonSearchButton: white;

	--aonTaxBuildPrintRes: white;

	--aonSecondary: #31363F;

}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0px 1000px var(--aonContentBeta) inset !important;
  	box-shadow: 0 0 0px 1000px var(--aonContentBeta) inset !important;
	-webkit-text-fill-color: white !important; 
}

.aonBody{
	background-color: var(--aonContentBeta);
	color: white;
}

.aonDashboardButton i {
	background-color: transparent;
}

.aonDashboardButton:hover{
	background-color: #111111;
}
  
.aonDashboardButton:hover i{
	background-color: #111111;
}

.rootPanel {
	background-color: var(--aonContentBeta); 
}

h1 {
	color: white;
}

.aonLogo {
	background-image: url("../image/aon-white-logo.svg");
}

.sidenavHover:hover{
	background-color: #111111;
}

.aonHeader {
	color: var(--aonHeaderButtonsColor);
	
}

.aonAvatar {
	color: white;
}

.aonLiBeta:hover {
   	background-color: rgba(0,0,0,.70);
}

.aonLiSpan {
	color: white;
}

.aonLiSpanSubtitle {
	color: white;
}

.aonToolbar {
	background-color: var(--aonContentBeta);
}

.aonToolbarTitle {
	color: white;
}

.aonToolbarSection {
	background-color: var(--aonContentBeta);
}
  
.aonToolbarSectionEnd {
	color: white;
}

.aonSecondaryToolbarTitle {
	color: white;
}

.aonTable th {
	color: white;
}

.aonTable tbody tr {
	color: white;
	background-color: var(--aonContentBeta);
}

.aonTableTrChecked {
	background-color: #111111;
}
  
.aonTable tbody tr:hover {
	background-color: #111111;
}
  
.aonTable tbody tr:active {
	background-color: #111111;
}

.aonMenuSidenav {
	color: #FFF;
	background-color: var(--aonHeaderBackgroundColor);
}

.aonSidenavTitle {
	color: white;
}

.aonSidenav {
	background-color: var(--aonContentBeta);
}

 #aonAccountingSidenavPyG {
	background-color: #111111;
}

.aonSearchBoxBeta {
	color: var(--aonSearchButton);
}

.aonDashboardCard{
	color: white;
}

/* Checked, Indeterminate */
.aonCheckbox > input:checked,
.aonCheckbox > input:indeterminate {
	border-color: white;
	background-color: white;
}

.aonCheckbox > input:checked + span::before,
.aonCheckbox > input:indeterminate + span::before {
	border-color: white;
	background-color: white;
}
  
.aonCheckbox > input:checked + span::after,
.aonCheckbox > input:indeterminate + span::after {
	border-color: #111111;
}

.aonCheckbox > input:active + span::before {
	border-color: white;
}
  
.aonCheckbox > input:checked:active + span::before {
	border-color: white;
}

.aonCheckbox > span::before {
    	border-color: white;
}

.aonTableTr.aonTableTrChecked {
  	background-color: #111111;
}

.aonNewLogo{
 	background-image: url("../image/aon-white-logo.svg");  
}

.aonRootGradiantHeader {
 	background-color: var(--aonContentBeta);
}

.aonParentDiv  {
	background-color: var(--aonContentBeta);
}

.aonWelcomeDiv  {
	color: white;
}

.aonTabItemText {
	color: white;
}

.aonTabItemText:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.aonTabItemTextSelected {
	color: white;
}

.aonLoginLogo{
 	background-image: url("../image/aon-white-logo.svg");
}

.aonHeaderStart, .aonMenuLeftopStart,
.aonHeaderHome, .aonMenuLeftopHome,
.aonHeaderApplications, .aonMenuLeftopApplications,
.aonHeaderNote, .aonMenuLeftopNote,
.aonHeaderFiscal, .aonMenuLeftopFiscal,
.aonHeaderPayroll, .aonMenuLeftopPayroll,
.aonHeaderInvoice, .aonMenuLeftopInvoice,
.aonHeaderDocumental, .aonMenuLeftopDocumental,
.aonHeaderAccounting, .aonMenuLeftopAccounting,
.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol,
.aonHeaderMessenger, .aonMenuLeftopMessenger,
.aonHeaderOffice, .aonMenuLeftopOffice,
.aonHeaderGarage, .aonMenuLeftopGarage,
.aonHeaderAcademy, .aonMenuLeftopAcademy,
.aonHeaderComerce, .aonMenuLeftopComerce,
.aonHeaderComercialMenu, .aonMenuLeftopComercialMenu,
.aonHeaderManagementMenu, .aonMenuLeftopManagementMenu,
.aonHeaderTreasuryMenu, .aonMenuLeftopTreasuryMenu,
.aonHeaderWarehouseMenu, .aonMenuLeftopWarehouseMenu,
.aonHeaderGroupwareMenu, .aonMenuLeftopGroupwareMenu ,
.aonHeaderAccountingMenu, .aonMenuLeftopAccountingMenu,
.aonHeaderFiscalMenu, .aonMenuLeftopFiscalMenu,
.aonHeaderPayrollMenu, .aonMenuLeftopPayrollMenu,
.aonHeaderMarketingMenu, .aonMenuLeftopMarketingMenu {
	background-color: var(--aonHeaderBackgroundColor);
}

.aonHeader #aonHeaderCompanyName,
.aonHeader .material-icons {
	color: white;
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover, 
#aonHeaderConfig:hover, 
#aonHeaderNotification:hover, 
#aonHeaderUser:hover{
	background-color: rgba(255,255,255,0.3);
  	border-radius: 100px;
}

.aonMenuLeftopHome .material-symbols-outlined, 
.aonMenuLeftopStart .material-symbols-outlined, 
.aonMenuLeftopApplications .material-symbols-outlined{
	color: white;
}

.aonHeaderHome  #aonHeaderCompanyName,
.aonHeaderApplications  #aonHeaderCompanyName,
.aonHeaderStart #aonHeaderCompanyName {
	color: var(--aonWhite);
}

#new:hover,
#home:hover,
#invoice:hover,
#documental:hover,
#accounting:hover,
#fiscal:hover,
#payroll:hover,
#timecontrol:hover,
#note:hover,
#messenger:hover,
#office:hover,
#garage:hover,
#academy:hover,
#comerce:hover,
#comercialMenu:hover,
#managementMenu:hover,
#treasuryMenu:hover,
#warehouseMenu:hover,
#groupwareMenu:hover,
#accountingMenu:hover,
#fiscalMenu:hover,
#payrollMenu:hover,
#marketingMenu:hover,
#applications:hover,
#aonApplication:hover {
  	background-color: rgba(255,255,255,0.1);
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover,
#aonHeaderConfig:hover,
#aonHeaderNotification:hover,
#aonHeaderUser:hover{
  	background-color: rgba(255,255,255,0.1);
  	border-radius: 100px;
}

.graphicsDashBoardSummary{
  	color: white;
}

.aonHelpSpan{
  	color: white;
}

/* .notificationPanelAllDiv{
  	color: white;
} */

.notificationPanelRowPrincipalDiv,
.notificationPanelRowPrincipalDiv .material-icons {
	color: white;
}

.notificationPanelRowPrincipalDiv:hover{
  	background-color: rgba(225, 225, 227, 1);
  	color: #111111;
  	.material-icons {
		color: #111111;
  	}
}

.aonNewDesktopAppDiv{
	color: white;
}

.aonNewMenuAppIcon{
  	color: white;
}

.aonConfigAppsTitle,
.aonConfigDarkTitle,
.aonConfigBrandTitle,
.aonConfigTopNavTitle,
.aonConfigSideNavTitle {
  	color: white;
}

#aonLoginLanguageSpanToolbar {
  	color: white;
}

.aonLoginTitle {
  	color: white;
}

.aonLink {
  	color: white ! important;
}

.aonLink:hover {
  	color: white ! important;
}

.aonLoginButton {
	background-color: white;
	color: #111111;
}
.aonLoginButton:hover {
	background-color: white;
	color: #111111;
}

.aonMagicButton {
	background-color: var(--gray-90);
	color: white;
}

.aonMagicButton:focus, 
.aonMagicButton:hover {
	background-color: white;
	color: #111111;
}

.aonMagicButtonHover{
	background-color: var(--gray-90);
	color:  white;
  }

.aonCompanyTitleSpan {
  	color: white;
}

/* .material-icons {
  	color: white; 
} */

#aonRightPanel .material-icons,
#aonMessengerToolbar .material-icons,
#aon-notesToolbar .material-icons,
#aonSigninToolbar .material-icons,
#aonLaboralToolbar .material-icons,
#aonFiscalToolbar .material-icons,
#aonAccountingToolbar .material-icons,
#aonDocumentalToolbar .material-icons,
#aonInvoiceToolbar .material-icons,
#aonDocumentalSheetToolbar .material-icons,
#aonInvoiceSheetToolbar .material-icons {
	color: white;
}

#aonNotificationPanelOpenButtonIcon:hover{
  	background-color: rgba(225,225,227,1);
  	color: #111111;
}

.aonMenuItemSpan {
  	color: white;
}

.aonAppMenuSidenavListSelected {
	background-color: black;
}

#aon-notesSidenav .material-icons {
  	--aonNote: white;
	color: white;
}

#aonInvoiceSidenav .material-icons {
  	--aonInvoice: white;
}

#aonAccountingSidenav .material-icons {
  	--aonAccounting: white;
}

#aonFiscalSidenav .material-icons {
  	--aonFiscal: white;
}

#aonLaboralSidenav aon-icon,
#aonLaboralSidenav .material-icons {
  	--aonPayroll: white;
}

#aonMessengerSidenav .material-icons {
  	--aonMessenger: white;
	color: white;
}

#aonDocumentalSidenav .material-icons {
  	--aonDocumental: white;
	color: white;
}

#aonSigninSidenav .material-icons {
  	--aonTimecontrol: white;
}

#aonAccountingSidenavoptionsSelect,
#aonAccountingSidenavoptionsViewSelect,
#aonAccountingSidenavoptionsDetailSelect,
#aonFiscalSidenavPeriodoSelect,
#aonFiscalSidenavEjercicioSelect {
  	color: white;
}

.aonInputBoxLabel > input {
 	background-color: var(--aonContentBeta);
	color: white;
}

#divCompanyLogoForm {
	display: none;
}

.aonSideNavFiscalCircle{
	border: 1px solid white;
	color: white;
}
  
.aonAppMenuSidenavListSelected div {
	background-color: white;
	border: 1px solid white;
	color: var(--aonContentBeta); 
}

.profile-letters {
	border: 2px solid white;
	color: white;
}

.graphicsDashBoardYear {
	border: 1px white solid;
}

.aonBankCardDate,
#pyGyearelect,
.aonCompanyCostCardDivTitle,
.aonDocumentalCardDescribeDate,
.aonDocumentalCardDate,
.aonMessengerCardDate,
.aonCardTotal{
	color: white;
}

.aonCard {
	border: 1px solid grey;
}

.aonAppLi{
	background-color: var(--aonCardColor);
}

.aonAppLi:hover {
	background-color: var(--aonContentBeta);
}

#pygCardCanvas {
	background-color: white;
}

.aonNewDesktopCardDiv:hover {
	background-color: var(--aonContentBeta);
}

.aonUl,
.accountingChatLegend,
.aonSearchInput {
	color: white;
}

#nullIcon .material-icons {
	color: rgb(95, 99, 104);
}

#iconLocationIcon {
	color: white;
}

#aonMessengerSidenavTASK {
	color: white;
}

#aonEventListTableBackIcon {
	color: white;
}

#aonEventDetailListTableBackIcon {
	color: white;
}

.aonSignDivLastTime,
.aonCompanyCostListDivTitle,
.aonCompanyCostListNewTitle {
	color: white;
}

.aonTableRowIcon2{
	color: white;
}


#aonLoginLanguageButtonIcon {
	color: white;
}

.aonInputBoxLabel > span {
	background: var(--aonContentBeta);
}

#aonLoginPasswordIconButtonIcon {
	color: white;
}

.aonDividerSpan {
	background: var(--aonContentBeta);
	color: white;
}

.aonInvoiceHomePendingRecordName {
	color:  white;  
}

.aonInvoiceHomePendingRecordsDiv:hover{
	background-color: #111111;
}

.aonInvoiceHomePendingName {
	color: white;
}

.aonInvoiceHomePendingIssuedDiv:hover{
	background-color: #111111;
}

.aonInvoiceHomePendingIssuedName{
	color: white;
}

.aonInvoiceHomePendingReceivedDiv:hover{
	background-color: #111111;
}

.aonInvoiceHomePendingReceivedName {
	color: white;
}

.aonInvoiceHomePendingTicketDiv:hover {
	background-color: #111111;
}

.aonInvoiceHomePendingTicketName {
	color: white;
}

.aonInvoiceHomeRejectedDiv:hover{
	background-color: #111111;
}

.aonInvoiceHomeRejectedName {
	color: white;
}

.aonInvoiceHomeTrashDiv:hover {
	background-color: #111111;
}
  
.aonInvoiceHomeTrashNumber {
	color: white;
}

.aonInvoiceHomeTrashName {
	color: white;
}

/* .aonCard {
  border: 1px solid var(--aonSecondary);
 } */

/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
  	--aon-theme: 'DARK';
}
