:root {
	--aonAccounting: var(--aonWhite);

	--aonBlack: black;

	--aonLightBlue: #eaf1fb;
	
	--aonNewColor: red;

	--leevyColor: #e5ff04;

	--leevyBackground: #06022e;

	--aonIcon: var(--leevyColor);

	--aonSearchButton: rgb(95, 99, 104);

	--aonCardColor:var(--aonWhite);

	--aonTopMenuSpecial: var(--leevyColor);

	--aonTopMenuAvailable: var(--leevyColor);

	--aonHeaderButtonColor: var(--leevyColor);

	--aonRightPanelColor: #fafafa;

	--aonHeaderBackgroundAvailable: var(--leevyBackground);

	--aonNote: var(--leevyBackground);

	--aonInvoice: var(--leevyBackground);

	--aonDocumental: var(--leevyBackground);

	--aonPayroll: var(--leevyBackground);

	--aonFiscal: var(--leevyBackground);

	--aonMessenger: var(--leevyBackground);

	--aonTimecontrol: var(--leevyBackground);

	--aonAccounting: var(--leevyBackground);
	
	--aonSwitchButtonBarOn: #F2FF7C;

	--aonSwitchButtonBarOff: #989797;

	--aonSwitchButtonCircleOff: white;

	--aonSwitchButtonCircleOn: var(--leevyColor);

}

.aonHeader {
	--aonAccounting: var(--leevyBackground);
	--aonHome: var(--leevyBackground);
}

.aonCardTitle {
	color:var(--leevyBackground);
}

.aonCard {
	border: 0px;
	background-color: var(--aonCardColor);
}

.aonCardText {
	color: black;
}

.aonContentBeta {
	background-color: var(--aonRightPanelColor);
}

.aonDashboardButton {
	color: white;
	background-color: var(--aonCardColor);
}

.aonDashboardCard {
	color: white;
}

.aonDashboardButton i{
	color:var(--leevyBackground);
	background-color: transparent;
}

.aonDashboardButton span{
	color:var(--leevyBackground);
}

.aonMenuTopnav,
.aonMenuSidenav {
	color: var(--leevyBackground);
	background-color: var(--leevyColor);
}


.aonFavicon {
	background-image: url("https://leevy.es/favicon.svg");
}

.aonHeaderStart, .aonMenuLeftopStart, 
.aonHeaderHome, .aonMenuLeftopHome,
.aonHeaderApplications, .aonMenuLeftopApplications,
.aonHeaderNote, .aonMenuLeftopNote,
.aonHeaderFiscal, .aonMenuLeftopFiscal,
.aonHeaderPayroll, .aonMenuLeftopPayroll,
.aonHeaderInvoice, .aonMenuLeftopInvoice,
.aonHeaderDocumental, .aonMenuLeftopDocumental,
.aonHeaderAccounting, .aonMenuLeftopAccounting,
.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol,
.aonHeaderMessenger, .aonMenuLeftopMessenger,
.aonHeaderOffice, .aonMenuLeftopOffice,
.aonHeaderGarage, .aonMenuLeftopGarage,
.aonHeaderAcademy, .aonMenuLeftopAcademy,
.aonHeaderComerce, .aonMenuLeftopComerce,
.aonHeaderComercialMenu, .aonMenuLeftopComercialMenu,
.aonHeaderManagementMenu, .aonMenuLeftopManagementMenu,
.aonHeaderTreasuryMenu, .aonMenuLeftopTreasuryMenu,
.aonHeaderWarehouseMenu, .aonMenuLeftopWarehouseMenu,
.aonHeaderGroupwareMenu, .aonMenuLeftopGroupwareMenu,
.aonHeaderAccountingMenu, .aonMenuLeftopAccountingMenu,
.aonHeaderFiscalMenu, .aonMenuLeftopFiscalMenu,
.aonHeaderPayrollMenu, .aonMenuLeftopPayrollMenu,
.aonHeaderMarketingMenu, .aonMenuLeftopMarketingMenu {
  background-color: var(--leevyBackground);
}

.aonMenuLeftopStart :hover, 
.aonMenuLeftopHome :hover,
.aonMenuLeftopApplications :hover,
.aonMenuLeftopNote :hover,
.aonMenuLeftopFiscal :hover,
.aonMenuLeftopPayroll :hover,
.aonMenuLeftopInvoice :hover,
.aonMenuLeftopDocumental :hover,
.aonMenuLeftopAccounting :hover,
.aonMenuLeftopTimecontrol :hover,
.aonMenuLeftopMessenger :hover,
.aonMenuLeftopOffice :hover,
.aonMenuLeftopGarage :hover,
.aonMenuLeftopAcademy :hover,
.aonMenuLeftopComerce :hover,
.aonMenuLeftopComercialMenu :hover,
.aonMenuLeftopManagementMenu :hover,
.aonMenuLeftopTreasuryMenu :hover,
.aonMenuLeftopWarehouseMenu :hover,
.aonMenuLeftopGroupwareMenu :hover,
.aonMenuLeftopAccountingMenu :hover,
.aonMenuLeftopFiscalMenu :hover,
.aonMenuLeftopPayrollMenu :hover,
.aonMenuLeftopMarketingMenu :hover {
  background-color: rgb(3, 0, 30);
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover,
#aonHeaderConfig:hover,
#aonHeaderNotification:hover,
#aonHeaderUser:hover{
  background-color: rgb(3, 0, 30);
  border-radius: 100px;
  /*transition: background-color 0.2s;*/
}

#new:hover,
#home:hover,
#invoice:hover,
#documental:hover,
#accounting:hover,
#fiscal:hover,
#payroll:hover,
#timecontrol:hover,
#note:hover,
#messenger:hover,
#office:hover,
#garage:hover,
#academy:hover,
#comerce:hover,
#comercialMenu:hover,
#managementMenu:hover,
#treasuryMenu:hover,
#warehouseMenu:hover,
#groupwareMenu:hover,
#accountingMenu:hover,
#fiscalMenu:hover,
#payrollMenu:hover,
#marketingMenu:hover{
	background-color: rgba(6, 2, 46, 0.1);
}
/* 
#aonMenuListAppImgTop-home :hover,
#aonMenuListAppImgTop-invoice :hover,
#aonMenuListAppImgTop-documental :hover,
#aonMenuListAppImgTop-accounting :hover,
#aonMenuListAppImgTop-fiscal :hover,
#aonMenuListAppImgTop-payroll :hover,
#aonMenuListAppImgTop-timecontrol :hover,
#aonMenuListAppImgTop-note :hover,
#aonMenuListAppImgTop-messenger :hover{
	color: white;
} */


#aonMenuListAppImgTop-home {
	color: var(--leevyBackground);
}

.aonHeaderHome .material-icons,
.aonHeaderStart .material-icons,
.aonHeaderApplications .material-icons,
.aonHeaderNote .material-icons,
.aonHeaderFiscal .material-icons,
.aonHeaderPayroll .material-icons,
.aonHeaderInvoice  .material-icons,
.aonHeaderMessenger .material-icons,
.aonHeaderAccounting .material-icons,
.aonHeaderDocumental .material-icons,
.aonHeaderTimecontrol .material-icons,
.aonHeaderOffice .material-icons,
.aonHeaderGarage .material-icons,
.aonHeaderAcademy .material-icons,
.aonHeaderComerce .material-icons,
.aonHeaderComercialMenu .material-icons,
.aonHeaderManagementMenu .material-icons,
.aonHeaderTreasuryMenu .material-icons,
.aonHeaderWarehouseMenu .material-icons,
.aonHeaderGroupwareMenu .material-icons,
.aonHeaderAccountingMenu .material-icons,
.aonHeaderFiscalMenu .material-icons,
.aonHeaderPayrollMenu .material-icons,
.aonHeaderMarketingMenu .material-icons {
	color: var(--leevyColor);
}

#aon-search-buttonIcon{
	color: var(--aonSearchButton);
}

.aonMenuLeftopHome .material-symbols-outlined,
.aonMenuLeftopStart .material-symbols-outlined,
.aonMenuLeftopApplications .material-symbols-outlined,
.aonMenuLeftopNote .material-symbols-outlined,
.aonMenuLeftopFiscal .material-symbols-outlined,
.aonMenuLeftopPayroll .material-symbols-outlined,
.aonMenuLeftopInvoice  .material-symbols-outlined,
.aonMenuLeftopMessenger .material-symbols-outlined,
.aonMenuLeftopAccounting .material-symbols-outlined,
.aonMenuLeftopDocumental .material-symbols-outlined,
.aonMenuLeftopTimecontrol .material-symbols-outlined,
.aonMenuLeftopOffice .material-symbols-outlined,
.aonMenuLeftopGarage .material-symbols-outlined,
.aonMenuLeftopAcademy .material-symbols-outlined,
.aonMenuLeftopComerce .material-symbols-outlined,
.aonMenuLeftopFiscalMenu .material-symbols-outlined,
.aonMenuLeftopPayrollMenu .material-symbols-outlined,
.aonMenuLeftopTreasuryMenu .material-symbols-outlined,
.aonMenuLeftopMarketingMenu .material-symbols-outlined,
.aonMenuLeftopComercialMenu .material-symbols-outlined,
.aonMenuLeftopWarehouseMenu .material-symbols-outlined,
.aonMenuLeftopGroupwareMenu .material-symbols-outlined,
.aonMenuLeftopManagementMenu .material-symbols-outlined,
.aonMenuLeftopAccountingMenu .material-symbols-outlined,
.aonMenuLeftopHome .material-symbols-outlined,
.aonMenuLeftopStart .material-symbols-outlined,
.aonMenuLeftopApplications .material-symbols-outlined  {
	color: var(--leevyColor);
}



.aonHeaderNote #aonHeaderCompanyName,
.aonHeaderFiscal #aonHeaderCompanyName,
.aonHeaderPayroll #aonHeaderCompanyName,
.aonHeaderInvoice  #aonHeaderCompanyName,
.aonHeaderMessenger #aonHeaderCompanyName,
.aonHeaderAccounting #aonHeaderCompanyName,
.aonHeaderDocumental #aonHeaderCompanyName,
.aonHeaderTimecontrol #aonHeaderCompanyName,
.aonHeaderOffice #aonHeaderCompanyName,
.aonHeaderGarage #aonHeaderCompanyName,
.aonHeaderAcademy #aonHeaderCompanyName,
.aonHeaderComerce #aonHeaderCompanyName,
.aonHeaderComercialMenu #aonHeaderCompanyName,
.aonHeaderManagementMenu #aonHeaderCompanyName,
.aonHeaderTreasuryMenu #aonHeaderCompanyName,
.aonHeaderWarehouseMenu #aonHeaderCompanyName,
.aonHeaderGroupwareMenu #aonHeaderCompanyName,
.aonHeaderAccountingMenu #aonHeaderCompanyName,
.aonHeaderFiscalMenu #aonHeaderCompanyName,
.aonHeaderPayrollMenu #aonHeaderCompanyName,
.aonHeaderMarketingMenu #aonHeaderCompanyName,
.aonHeaderHome  #aonHeaderCompanyName,
.aonHeaderApplications  #aonHeaderCompanyName,
.aonHeaderStart #aonHeaderCompanyName {
	color: var(--leevyColor);
} 

.aonHeaderAppIcon{
	color: var(--leevyColor);
	padding: 4px;
	font-size: 24px;
}
  
.aonHeaderAppSpan{
	text-align: center;
	min-height: 21px;
	color: var(--leevyColor);
}

.aonNewLogo{
	width: 132px;
	height: 32px;
	cursor: pointer;
	padding: 0px 0px 0px 68px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../image/leevy-yellow-logo.svg");  
}

.aonLink:after {
	content: 'leevy';
}

.aonTrademark:after {
	content: 'es una marca registrada de AYUDA T, S.L.';
}

.aonSupportTelephone:after {
	content: '(+34) 900 909 642';	
}

.aonSupportUsersEmail:after {
	content: 'info@leevy.es';	
}

.aonSupportSalesEmail:after {
	content: 'comercial@aonSolutions.es';
	display: none;
}

.aonSupportAdminEmail:after {
	content: 'administración@aonSolutions.es';	
	display: none;}

#aonContactIcon3 {
	display: none;
}

#aonContactIcon4 {
	display: none;
}
