:root {
	--favicon: ../faviconColors.png;
}

.aonHeaderDocumental, .aonMenuLeftopDocumental,
.aonHeaderInvoice, .aonMenuLeftopInvoice,
.aonHeaderAccounting, .aonMenuLeftopAccounting,
.aonHeaderFiscal, .aonMenuLeftopFiscal,
.aonHeaderPayroll, .aonMenuLeftopPayroll,
.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol,
.aonHeaderNote, .aonMenuLeftopNote,
.aonHeaderMessenger, .aonMenuLeftopMessenger{
  background-color: var(--aonBlue);
}

#applications:hover {
  background-size: cover ;
  background-image: url("../image/aon-background.webp");
  #aonMenuListAppImgTop-applications {
	  color: white;
  }
}

.aonSideNavFiscalCircle{
  border: 1px solid var(--aonFiscal);
  color: var(--aonFiscal);
}

.aonAppMenuSidenavListSelected div {
  	background-color: var(--aonFiscal);
  	border: 1px solid var(--aonFiscal);
  	color: white;
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'MODERN';
}
