:root {
	--favicon: ../faviconColors.png;
	--accountingSideNavSymbol: CALCULATE;
  	--fiscalSideNavSymbol: EURO_SYMBOL;
	--payrollSideNavSymbol: GROUP;
	--aonLightMessenger: rgba(51, 169, 169, 0.2);
}

.aonHeaderDocumental, .aonMenuLeftopDocumental {
        background-color: var(--aonDocumental);
}

.aonHeaderInvoice, .aonMenuLeftopInvoice {
        background-color: var(--aonInvoice);
}

.aonHeaderAccounting, .aonMenuLeftopAccounting {
        background-color: var(--aonAccounting);
}

.aonHeaderFiscal, .aonMenuLeftopFiscal {
        background-color: var(--aonFiscal);
}

.aonHeaderPayroll, .aonMenuLeftopPayroll {
        background-color: var(--aonPayroll);
}

.aonHeaderTimecontrol, .aonMenuLeftopTimecontrol {
        background-color: var(--aonTimecontrol);
}

.aonHeaderNote, .aonMenuLeftopNote {
        background-color: var(--aonNote);
}

.aonHeaderMessenger, .aonMenuLeftopMessenger{
        background-color: var(--aonMessenger);
}    

#applications:hover {
  background-size: cover ;
  background-image: url("../image/aon-background.webp");
  #aonMenuListAppImgTop-applications {
	  color: white;
  }
}

.aonSideNavFiscalCircle{
  border: 1px solid var(--aonFiscal);
  color: var(--aonFiscal);
}

.aonAppMenuSidenavListSelected div {
  	background-color: var(--aonFiscal);
  	border: 1px solid var(--aonFiscal);
  	color: white;
}

#aonMenuListAppImgTop-fiscal {
	margin-right: 4px;
	scale: 1;
}

#aonMessengerRow:hover {
	background-color: var(--aonLightMessenger);
	border: 1px solid var(--aonMessenger) !important; 
}


/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'NEW MODERN';
}
