:root{
   --tw-bg-opacity: 1;
   --opengesGreen : rgb(82 217 160 / var(--tw-bg-opacity));

  --aonTopMenuAvailable: white;
	
	
	--aonTopMenuSpecial : black; /* var(--opengesGreen); */
	--aonTopMenuAvailable : black; /*var(--opengesGreen);*/
	
	--aonHeaderBackgroundAvailable:black;

}

.aonHeader {
	overflow: hidden;
	background-color: black;
}

.aonHeader #aonHeaderCompanyName,
.aonHeader .material-icons {
	color: white;
}

#aonHeaderCompanyList:hover,
#aonHeaderHelp:hover, 
#aonHeaderConfig:hover, 
#aonHeaderNotification:hover, 
#aonHeaderUser:hover{
	background-color: rgba(255,255,255,0.3);
  	border-radius: 100px;
}

.aonNewLogo {
    width: 139px;
    height: 48px;
    cursor: pointer;
    padding: 0 0 0 68px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://www.openges.es/images/logo.svg");
}

.aonMenuLeftopStart,
.aonMenuLeftop {
	--aonTopMenuAvailable: white;
	background-color: black;
}

.aonMenuLeftopStart:hover,
.aonMenuLeftop:hover {
  background-color: rgba(255,255,255,0.3);
}

.aonMenuLeftop .material-symbols-outlined {
	color: white;
}

.aonMenuTopnav,
.aonMenuSidenav {
	background-color: var(--aonWhite);
}


.aonFavicon {
	background-image: url("https://www.openges.es//images/icons/icon32x32.png");
}

.aonTabItemTextSelected {
    border-bottom: 2px solid var(--opengesGreen);
}

.aonSwitch > input:checked + span::before {
    background-color: rgb(82, 217, 160, 0.5);
}
.aonSwitch > input:checked + span::after {
    background-color: var(--opengesGreen);
}

/*
 *
 */
.aonRootGradiantHeaderTop,
.aonRootGradiantHeaderBottom {
    background: radial-gradient(circle,var(--opengesGreen) 0,hsla(240,9%,96%,0) 68%);
} 

#aonMenuListAppImgTop-home {
	color: black;
}


/*
 * Login screen
*/
.aonLink {
	color: var(--opengesGreen) !important;
}

.aonToolbar2{
  border-bottom: none;
  background-color: black;
}


.aonLogin {
	background-position: left;	
	background-repeat: no-repeat;
	background-image: url("https://my.openges.es/img/OgLoginBackground2.jpg");
}

.aonLoginFormContent {
	width: 60%;
}

.aonLogin #divForm {
	padding-left: 50%;	
}
.aonLoginLogo{
  width: 139px;
  height: 65px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://www.openges.es/images/logo.svg");
}

.aonLoginTitle {
	color: var(--opengesGreen);
}

.aonMagicButton,
.aonMagicButton:hover {
	color: black;
	border-color: var(--opengesGreen);
	background-color: var(--opengesGreen);
}

.aonLink:after {
	content: 'OPENGES SOLUTIONS';
}

.aonTrademark:after {
	content: 'es una marca registrada de OPENGES.';
}

.aonWeekSchedule:after{
	content: 'Lunes a jueves de 9:00 a 18:00';
}

.aonWeekFridaySchedule:after{
	content: 'Viernes de 9:00 a 14:00';
}

.aonSupportTelephone:after {
	content: '(+34) 900 730 037';	
}

.aonSupportUsersEmail:after {
	content: 'info@openges.es';	
}

.aonSupportSalesEmail:after {
	content: 'comercial@openges.es';	
}

.aonSupportAdminEmail:after {
	content: 'comunicacion@openges.es';	
}

#aonLoginLanguageSpanToolbar {
	color: var(--aonWhite);
}

#new:hover, #home:hover, 
#invoice:hover, #documental:hover, 
#accounting:hover, #fiscal:hover, 
#payroll:hover, #timecontrol:hover, 
#note:hover, #messenger:hover, 
#office:hover, #garage:hover, 
#academy:hover, #comerce:hover, 
#comercialMenu:hover, #managementMenu:hover, 
#treasuryMenu:hover, #warehouseMenu:hover, 
#groupwareMenu:hover, #accountingMenu:hover, 
#fiscalMenu:hover, #payrollMenu:hover, 
#marketingMenu:hover, #aonApplication:hover{
	background-color: rgb(240,240,240);
}

/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'OPENGES';
}
