:root {
	--favicon: data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23002469'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-2.64 0-5.03-1.05-6.78-2.75l1.42-1.42C7.73 17.1 9.73 18 12 18s4.27-.9 5.36-2.17l1.42 1.42C17.03 18.95 14.64 20 12 20zm-6.36-5.94L4.22 12.5C4.08 12.17 4 11.84 4 11.5c0-3.87 3.13-7 7-7s7 3.13 7 7c0 .34-.08.67-.22.98l-1.42-1.42c.08-.19.12-.39.12-.6 0-2.48-2.02-4.5-4.5-4.5s-4.5 2.02-4.5 4.5c0 .21.04.41.12.6L5.64 14.06z'/%3E%3C/svg%3E;
	--vistaPersonaliazadaColor: white;
}


#aonConfigThemesCard{
	display: none;
}

.aonHeader,
.aonMenuLeftop,
.aonMenuLeftopStart,
.aonMenuSidenav,
.aonNewMenuTopNavDiv{
	overflow: hidden;
	background-color: var(--vistaPersonaliazadaColor);
}

#academy:hover, 
#accounting:hover, 
#accountingMenu:hover, 
#aonApplication:hover, 
#comerce:hover, 
#comercialMenu:hover, 
#comunica:hover, 
#documental:hover, 
#fiscal:hover, 
#fiscalMenu:hover, 
#garage:hover, 
#groupwareMenu:hover, 
#home:hover, 
#apps:hover,
#invoice:hover, 
#managementMenu:hover, 
#marketingMenu:hover,
#messenger:hover, 
#new:hover, 
#note:hover, 
#warehouse:hover,
#office:hover, 
#payroll:hover, 
#payrollMenu:hover, 
#timecontrol:hover, 
#treasuryMenu:hover, 
#warehouseMenu:hover,
#configurationMenu:hover {
  background-color: rgba(0,0,0,.1);
}

#applications {
	background-color: var(--vistaPersonaliazadaColor);
}

.aonHeader #aonHeaderCompanyName,
.aonHeader .material-icons {
	color: var(--gray-50);
}

.aonHeaderAppSpan{
	color: black;
}

.aonMenuLeftop .material-symbols-outlined {
	color: var(--gray-50);
}

.aonSideNavFiscalCircle{
  border: 1px solid var(--aonFiscal);
  color: var(--aonFiscal);
}

.aonAppMenuSidenavListSelected div {
  	background-color: var(--aonFiscal);
  	border: 1px solid var(--aonFiscal);
  	color: white;
}

/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'VISTAPERSONALIZADA';
}
