:root {
	--favicon: data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23002469'%3E%3Cpath d='M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3 1.34 3 3 3zm-8 0c1.66 0 3-1.34 3-3S9.66 5 8 5 5 6.34 5 8s1.34 3 3 3zm8 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zM8 13c-2.67 0-8 1.34-8 4v2h6v-2.5c0-.91.98-1.73 2.5-2.22-1.16-.17-2.19-.28-3.5-.28z'/%3E%3C/svg%3E;
	--vistaPersonaliazadaColor: white;
}


#aonConfigThemesCard{
	display: none;
}

.aonHeader,
.aonMenuLeftop,
.aonMenuLeftopStart,
.aonMenuSidenav,
.aonNewMenuTopNavDiv{
	overflow: hidden;
	background-color: var(--vistaPersonaliazadaColor);
}

#academy:hover, 
#accounting:hover, 
#accountingMenu:hover, 
#aonApplication:hover, 
#comerce:hover, 
#comercialMenu:hover, 
#comunica:hover, 
#documental:hover, 
#fiscal:hover, 
#fiscalMenu:hover, 
#garage:hover, 
#groupwareMenu:hover, 
#home:hover, 
#apps:hover,
#invoice:hover, 
#managementMenu:hover, 
#marketingMenu:hover,
#messenger:hover, 
#new:hover, 
#note:hover, 
#warehouse:hover,
#office:hover, 
#payroll:hover, 
#payrollMenu:hover, 
#timecontrol:hover, 
#treasuryMenu:hover, 
#warehouseMenu:hover,
#configurationMenu:hover {
  background-color: rgba(0,0,0,.1);
}

#applications {
	background-color: var(--vistaPersonaliazadaColor);
}

.aonHeader #aonHeaderCompanyName,
.aonHeader .material-icons {
	color: var(--gray-50);
}

.aonHeaderAppSpan{
	color: black;
}

.aonMenuLeftop .material-symbols-outlined {
	color: var(--gray-50);
}

.aonSideNavFiscalCircle{
  border: 1px solid var(--aonFiscal);
  color: var(--aonFiscal);
}

.aonAppMenuSidenavListSelected div {
  	background-color: var(--aonFiscal);
  	border: 1px solid var(--aonFiscal);
  	color: white;
}

/**
Important. Keep this rule at the end of file 
**/
.aonTheme {
	--aon-theme: 'VISTAPERSONALIZADA';
}
